.dlg {
  .input-group-search {
    @extend .input-group;

    .form-control {
      display: inline;
      width: 100%;
      padding-right: 2.25rem;
    }

    .input-group-addon {
      display: inline;
      position: absolute;
      top: 1px;
      right: 0.25rem;
      z-index: 3;
      border: none;
      background-color: $white;
      color: $brand-blue-1;
      cursor: pointer;
    }
  }

}
