.dlg {
  .table {
    .table__control {
      min-width: 54px;
      padding-right: 0px;
      padding-top: 7px;

      .form-check-input {
        position: relative;
        top: 1px;
        margin-right: 2px;
      }

      .dropdown {
        display: inline-block;
        /*position: relative;
        top: -2px;*/

        .bulk-action {
          color: rgba($body-color, 0.5);
          @include transition();
          &:hover {
            color: rgba($body-color, 1.0);
          }
        }
      }
    }

    .tree-2nd {
      padding-left: 38px;
    }
  }

}