.org-maintenance-create-new-window {
  .questions {
    border-bottom: 1px solid $brand-grey-4;

    .questions__time {
      .form-control {
        margin-right: 0.25rem !important;
        margin-left: 0.25rem !important;

        &[type="date"] {
          width: 180px;
        }

        &[type="time"] {
          width: 120px;
        }
      }

    }
  }
}