// scss-lint:disable QualifyingElement

//
// Base styles
//
.dlg {
  .btn {
    font-family: $btn-font-family;
    letter-spacing: $btn-letter-spacing;
    cursor: pointer;
    display: inline-block;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: $input-btn-border-width solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    @include button-size($btn-padding-y, $btn-padding-x, $font-size-sm, $btn-border-radius);
    @include transition($btn-transition);

    // Share hover and focus styles
    @include hover-focus {
      text-decoration: none;
    }
    &:focus,
    &.focus {
      outline: 0;
      box-shadow: $btn-focus-box-shadow;
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
      cursor: $cursor-disabled;
      opacity: .65;
      @include box-shadow(none);
    }

    &:active,
    &.active {
      background-image: none;
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }

  // Future-proof disabling of clicks on `<a>` elements
  a.btn.disabled,
  fieldset[disabled] a.btn {
    pointer-events: none;
  }

  //
  // Alternate buttons
  //

  .btn_primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  }

  .btn_secondary {
    @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
  }
  .btn_info {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
  }
  .btn_success {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
  }
  .btn_warning {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
  }
  .btn_danger {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
  }

  .btn_switch {
    color: $brand-blue-1;
    border-radius: 0;

    &:active,
    &.active,
    &:disabled {
      color: $brand-black-1;
      background-color: $brand-grey-4;
      @include box-shadow(none);
    }
    &,
    &:focus,
    &:active {
      background-color: $white;
      border-color: $brand-grey-4;
    }
    @include hover {
      border-color: transparent;
    }
    @include hover-focus {
      color: $brand-black-1;
      background-color: $brand-grey-4;
    }
  }

  // Remove all backgrounds
  .btn_outline-primary {
    @include button-outline-variant($btn-primary-bg);
  }
  .btn_outline-info {
    @include button-outline-variant($btn-info-bg);
  }
  .btn_outline-success {
    @include button-outline-variant($btn-success-bg);
  }
  .btn_outline-warning {
    @include button-outline-variant($btn-warning-bg);
  }
  .btn_outline-danger {
    @include button-outline-variant($btn-danger-bg);
  }

  //
  // Old buttons
  //
  .btn_old {
    background: url(../img/old/ca/btn-blue-26.png) repeat-x scroll 0 -1px transparent;
    border: 1px solid #337db0;
    color: #fff;
    cursor: pointer;
    font: normal 13px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    padding: 3px 15px 4px;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    border-radius: 3px;
    text-transform: none;
  }

  //
  // Link buttons
  //

  // Make a button look and behave like a link
  .btn_link {
    font-weight: $font-weight-bold;
    color: $link-color;
    border-radius: 0;

    &,
    &:active,
    &:focus,
    &.active,
    &:disabled {
      background-color: transparent;
      box-shadow: none;
    }
    &,
    &:focus,
    &:active {
      border-color: transparent;
    }
    @include hover {
      border-color: transparent;
    }
    @include hover-focus {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
      background-color: transparent;
    }
    &:disabled {
      color: $btn-link-disabled-color;

      @include hover-focus {
        text-decoration: none;
      }
    }
  }

  .btn_icon {
    font-weight: $font-weight-normal;
    color: $btn-icon-color;
    border-radius: 0;
    padding: 1px 3px;

    &,
    &:active,
    &.active,
    &:disabled {
      background-color: transparent;
      @include box-shadow(none);
    }
    &,
    &:focus,
    &:active {
      border-color: transparent;
    }
    @include hover {
      border-color: transparent;
    }
    @include hover-focus {
      color: $btn-icon-hover-color;
      text-decoration: $link-hover-decoration;
      background-color: transparent;
    }
    &:disabled {
      color: $btn-icon-disabled-color;

      @include hover-focus {
        text-decoration: none;
      }
    }
  }

  .btn_edit {
    @include hover {
      color: $brand-blue-1;
    }
  }

  .btn_delete {
    @include hover {
      color: $red;
    }
  }

  //
  // Button Sizes
  //

  .btn_lg {
    // line-height: ensure even-numbered height of button next to large input
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-border-radius-lg);
  }
  .btn_me {
    // line-height: ensure proper height of button next to small input
    @include button-size($btn-padding-y-me, $btn-padding-x-me, $font-size-sm, $btn-border-radius-sm);
  }
  .btn_sm {
    // line-height: ensure proper height of button next to small input
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
  }

  //
  // Block button
  //

  .btn-block {
    display: block;
    width: 100%;
  }

  // Vertically space out multiple block buttons
  .btn-block + .btn-block {
    margin-top: $btn-block-spacing-y;
  }

  // Specificity overrides
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    &.btn-block {
      width: 100%;
    }
  }
}