.dlg {
  .tree-list .tree-folder {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(../img/icons/folder/base.png);
    cursor: pointer;
    vertical-align: top;
    margin-left: 4px;

    &.tree-folder_opened {
      background-image: url(../img/icons/folder/open.png);
    }

    &.tree-folder_closed {
      background-image: url(../img/icons/folder/close.png);
    }

  }

  .table .tree-folder {
    vertical-align: top;
    margin-left: 4px;
    padding-left: 2.5em;
    background-image: url(../img/icons/folder/base.png);
    background-position-x: 0.75rem;
    background-position-y: 6px;
    background-repeat: no-repeat;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 520px;

    &.tree-folder_opened {
      background-image: url(../img/icons/folder/open.png);
    }

    &.tree-folder_closed {
      background-image: url(../img/icons/folder/close.png);
    }
  }



  .country-icon {
    width: 30px;
    max-height: 25px;
    vertical-align: middle;
  }
}